.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.swiper-slide-demo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 3.9em;
    font-weight: bold;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Titillium Web', sans-serif;
  }

  .swiper-button-prev{
      color: #fff;
  }
  .swiper-button-next{
      color: #fff;
  }

  .mypadding{
      padding-top: 100px;
      padding-bottom: 100px;
  }